.devListCont{
    width: 500px;
    height: 16px;
    padding: 5px;
    margin: auto;
    font-family: Marvel;
    font-size: 16px;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1.5fr 7fr 5fr 5fr 1.5fr;
    grid-template-rows: 16px;
}

.devListRow{
    margin: 0;
}
