.devListCont{
    width: 575px;
    margin: auto;
    font-family: Marvel;
    font-size: 16px;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr 7fr 4fr 5fr 2fr 2fr 1fr;
    grid-template-rows: 26px;
    transition: background-color .25s;
}

.devListRow{
    justify-self: center;
    align-self: center;
}

.devListCont:nth-child(odd){
    background-color: #eee;
}

.devListCont:hover{
    background-color: rgb(0, 195, 255, .35);
}

.altButton{
    font-family: Marvel;
    font-size: 20px;
    text-align: center;
    background-color: #20232A;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    transition: color .25s;
}

.altButton:hover{
    color: rgb(0, 195, 255);
}