.devListCont{
    width: 575px;
    margin: auto;
    font-family: Marvel;
    font-size: 16px;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr 7fr 4fr 5fr 2fr 2fr 1fr;
    grid-template-rows: 26px;
    transition: background-color .25s;
}

.devListRow{
    justify-self: center;
    align-self: center;
}

.devListCont:nth-child(odd){
    background-color: #eee;
}

.devListCont:hover{
    background-color: rgb(0, 195, 255, .35);
}

.altButton{
    font-family: Marvel;
    font-size: 20px;
    text-align: center;
    background-color: #20232A;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    transition: color .25s;
}

.altButton:hover{
    color: rgb(0, 195, 255);
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    margin-bottom: 30px;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover{
    opacity: 1;
  }

  .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*background: #4CAF50;*/
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*background: #4CAF50;*/
    cursor: pointer;
  }
  
  .redSlider::-webkit-slider-thumb{
      background: #FF0000;
  }
  .redSlider::-moz-range-thumb{
      background: #FF0000;
  }
  .greenSlider::-webkit-slider-thumb{
      background: #00C000;
  }
  .greenSlider::-moz-range-thumb{
      background: #00C000;
  }
  .blueSlider::-webkit-slider-thumb{
      background: #0000FF;
  }
  .blueSlider::-moz-range-thumb{
      background: #0000FF;
  }
  
  #gridLayout{
    display: grid;
    place-self: center;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
      'header header header'
      'lsidebar center rsidebar'
      'footer footer footer';
  }
  
  #container{
      width: 300px; 
      grid-area: center;
  }
  
  #rgbHex{
      grid-area:label; 
      width:100%; 
      background-color:black; 
      color:white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
  }
  
  #square{
    height: 110px;
    width: 100px;
    border: 1px solid black;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 1fr auto; 
    grid-template-areas: 
      'color'
      'label';
  }