.homeCont{
    width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: stretch;
}

.widgetCont{
    height: 100px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #20232A;
    place-self: center stretch;
    display: grid;
    grid-template-columns: 3fr 5fr;
    position: relative;
    font-family: Marvel;
    cursor: pointer;
}

.tempWidgetCircle{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    align-self: center;
    justify-self: left;
    margin-left: 5px;
    color: #20232A;
    display: grid;
    position: relative;
    background-image: radial-gradient(hsla(50,100%,50%,20%) 10%, hsla(50,100%,50%,100%) 90%);
}

.tempNum{
    place-self: center;
    font-size: 48px;
    margin: 0;
}

.tempRainDrop{
    position: absolute;
    bottom: -8px;
    right: -10px;
    display: grid;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.tempRainDrop p{
    place-self: center;
    font-size: 24px;
    margin: 10px auto 0px auto; 
    color: white;
}

.tempDetails{
    color: #20232A;
    display: grid;
}

.tempDetails p{
    margin: 0px;
    place-self: center;
}

.tempLoading{
    place-self: center;
}

.tempUpdated{
    position: absolute;
    font-size: 12px;
    bottom: 1px;
    right: 3px;
    margin: 0px;
}