#navCont{
    width: 600px;
    height: 50px;
    display: grid;
    margin: 0 auto;
    padding: 5px;
    font-family: 'Marvel';
    font-size: 20px;
    letter-spacing: 2px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
}
  
.navObj{
    width: 120px;
    color: white;
    padding: 5px;
    margin: 0px auto -5px auto;
    text-align: center;
    font-weight: lighter;
    align-self: end;
    text-decoration: none;
    border-radius: 5px 5px 0px 0px;
    transition: color .25s;
}

.active{
    background-color: rgb(0,0,0,.3);
}

.navObj:hover{
    color: rgb(0, 195, 255);
}
  
#headerBar{
    background-color: #20232A;
}
